  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #F78C31;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #F76931;
    background: #FAE5C4;
  }

  label {
    font-family: "ubuntu";
  }

  .radio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    color: #F76931;
  }

  .radio:nth-child(0) {
    grid-column: span 3;
  }

  .skip-to-main {
    position: absolute;
    top: -40px;
  }

  .skip-to-main:focus {
    top: 0px;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #FAE5C4;
    color: #FAE5C4;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #F78C31;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #F7C331;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #F7C331;
  }
